<header class="header">

  <div class="header_content">
    <a class="header_circle" href="{{ '/' | relative_url }}">
      <img src="{{ site.user.pic | relative_url }}" alt="{{ site.user.picAlt }}">
    </a>
    <span class="header_name">{{ site.user.name }}</span>
    <span class="header_job">{{ site.user.job }}</span>
    <span class="header_mes">{{ site.user.message }}</span>

    < <nav class="nav">
      <!-- navigation menu . include in mobile_header too.-->
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ site.baseurl }}/About.html">ppl</a>
        </li>
        </br>
        <li class="nav_item">
          <a href="{{ site.baseurl }}/People.html">pubs</a>
        </li>
        </br>
        <li class="nav_item">
          <a href="{{ site.baseurl }}/Publications.html">code</a>
        </li>
        </br>
        <li class="nav_item">
          <a href="{{ site.baseurl }}/News.html">news</a>
        </li>
        </br>
        <li class="nav_item">
          <a href="{{ site.baseurl }}/Blog.html">blog</a>
        </li>
      </ul>
    </nav>
  </div>

</header>

