<nav class="mobile_menu">

  <ul class="nav_list">
    <li class="nav_item">
      <a href="{{ site.baseurl }}/About.html">ppl</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/People.html">pubs</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/Publications.html">code</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/News.html">news</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/Blog.html">blog</a>
    </li>
  </ul>

</nav>
