<nav class="mobile_menu">

  <ul class="nav_list">
    <li class="nav_item">
      <a href="{{ site.baseurl }}/About.html">About</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/People.html">People</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/Publications.html">Publications</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/Codes.html">Codes</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/News.html">News</a>
    </li>
  </ul>

</nav>
